<div class="background">
  <h1 class="title">{{title}}</h1>
  <form [formGroup]="myForm" class="form">
    <mat-form-field appearance="fill">
      <mat-label>First name</mat-label>
      <input matInput formControlName="firstName" type="text" placeholder="Enter first name">
      <mat-hint align="end">Should have at least 3 chracters</mat-hint>
      <mat-error *ngIf="lastName?.errors?.['required']">
        this field can't be empty!
      </mat-error>
      <mat-error *ngIf="lastName?.errors?.['minLength']">
        this field should have at least 3 characters
      </mat-error>
    </mat-form-field>
    <br>
    <mat-form-field appearance="fill">
      <mat-label>Last name</mat-label>
      <input matInput formControlName="lastName" type="text" placeholder="Enter Lastname">
      <mat-hint align="end">Should have at least 3 chracters</mat-hint>
      <mat-error *ngIf="lastName?.invalid && lastName?.touched">
        <mat-error *ngIf="lastName?.errors?.['required']">
          this field can't be empty!
        </mat-error>
        <mat-error *ngIf="lastName?.errors?.['minLength']">
          this field should have at least 3 characters
        </mat-error>
      </mat-error>
    </mat-form-field>
    <br>
    <mat-form-field appearance="fill">
      <mat-label>Password</mat-label>
      <input matInput formControlName="password" [type]="hide ? 'password' : 'text'" placeholder="Enter Password">
      <button class="pass_button" mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
        <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
      </button>
      <mat-hint align="end">Should have at least 7 chracters, at least 1 Uppercase letter, and one special symbol</mat-hint>
      <mat-error *ngIf="password?.errors?.['required']">
        Should have at least 7 chracters, at least 1 Uppercase letter, number, and special symbol
      </mat-error>
      <mat-error *ngIf="password?.errors?.['minLength']">
        this field should have at least 7 characters
      </mat-error>
      <mat-error *ngIf="password?.errors?.['pattern']">
        this field should have at least 1 upppercase letter, number and special character
      </mat-error>
    </mat-form-field>
    <br><br>
    <mat-form-field appearance="fill">
      <mat-label>phone number</mat-label>
      <input ngModel matInput formControlName="phoneNumber" [required]="reqN" type="text" placeholder="Phone number">
      <mat-hint align="end">Should have only number and + if with country code</mat-hint>
      <mat-error *ngIf="phoneNumber?.invalid && phoneNumber?.touched">
        <mat-error *ngIf="phoneNumber?.errors?.['pattern']">
          only digits and + allowed
        </mat-error>
      </mat-error>
    </mat-form-field>
    <br>
    <mat-checkbox (ngModelChange)="changeReqN()">is phone number mandatory?</mat-checkbox>
    <br>
    <mat-form-field appearance="fill">
      <mat-label>Email</mat-label>
      <input matInput formControlName="Email" type="email" placeholder="Email Address" required>
      <mat-hint align="end">Should be a valid email</mat-hint>
      <mat-error *ngIf="Email?.invalid && Email?.touched">
        <mat-error *ngIf="Email?.errors?.['email']">
          Should be a valid email
        </mat-error>
      </mat-error>
    </mat-form-field>
    <br><br>
    <mat-form-field appearance="fill">
      <mat-label>Intrests</mat-label>
      <input matInput formControlName="intrests" type="text" placeholder="Your intrests">
      <mat-hint align="end">Should have max 100 characters</mat-hint>
      <mat-error *ngIf="intrests?.invalid && intrests?.touched">
        <mat-error *ngIf="intrests?.errors?.['maxLength']">
          Should have max 100 characters
        </mat-error>
      </mat-error>
    </mat-form-field>
    <br><br>
    <input type="submit">
  </form>
</div>
